.center{
    text-align: center
}
table{
    border-collapse: collapse;
    margin: auto;
    margin-top: 100px;

}

td{
    border: 1px solid black;
    padding: 10px;
    width: 20px;
    height: 20px;
    
}